In [24]:

# Importing Libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [25]:
# Loading Dataset

file_path = r"C:\Users\Muthusamy\Documents\PROJECTS-2023\Airbnb Project\AB_NYC_2019.csv"
airbnb_df=pd.read_csv(file_path)

In [26]:
# Dataset First Look

airbnb_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [27]:
# Dataset Rows & Columns count

airbnb_df.shape

(48895, 16)

In [28]:
# Basic Information about the Dataset

airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [29]:
# Duplicate Value Count in Dataset

airbnb_df.duplicated().sum()
airbnb_df.drop_duplicates(inplace=True)
airbnb_df.shape   #at this point looks like doesn't have duplicate values

(48895, 16)

In [30]:
# Missing Values/Null Values Count

missing_values = airbnb_df.isnull().sum()
missing_values   #only four columns has null values

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [31]:
# Dataset Columns

# Skimming through all the columns or say knowing given variables
airbnb_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [33]:
# Check Unique Values for each variable.

#looks all the property ids are different and each listings are different here!
airbnb_df['id'].nunique()

48895

In [34]:
airbnb_df['name'].nunique() #shows some listing names are common

47905

In [35]:
airbnb_df['host_id'].nunique()  #shows that as many as 20k host_ids are repeatative

37457

In [36]:
airbnb_df['host_name'].unique()
airbnb_df.host_name.nunique()   #11.5k hosts and 49k listings shows single host have multiple listings.

11452

In [37]:
(airbnb_df['neighbourhood_group'].unique()) #area of the city

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [38]:
airbnb_df['neighbourhood'].nunique()  #no. of neighbourhood

221

In [39]:
airbnb_df["room_type"].value_counts()  #room_type listing count

room_type
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: count, dtype: int64

In [40]:
price_value_counts = airbnb_df["price"].value_counts()

price_value_counts.sort_index()      #shows 673 different prices ranging from 0 to 10k

price
0        11
10       17
11        3
12        4
13        1
         ..
7703      1
8000      1
8500      1
9999      3
10000     3
Name: count, Length: 674, dtype: int64

In [41]:
airbnb_df["calculated_host_listings_count"].unique()   #unique no of listings by hosts

array([  6,   2,   1,   4,   3,   5,   7,  13,  28,  11,   8,   9,  52,
        18,  15,  19,  10,  39,  26,  29,  12,  21,  96,  14,  34,  43,
       121,  37,  49,  31,  91,  16,  87,  33,  23,  50,  20,  25, 232,
        17,  47, 103,  65,  30,  27, 327,  32], dtype=int64)

In [42]:
# droping unnecessary columns

airbnb_df.drop(['id','last_review'], axis=1, inplace=True)

In [44]:
airbnb_df.head()

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365
1,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355
2,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,1,365
3,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,1,194
4,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,1,0

In [45]:
#We know that reviews_per_month column have many null values, we will replace it with '0'.
#And name and host_name also have some empty indexes, replace it with 'Unknown' and 'no_name' resp.
airbnb_df.fillna({'reviews_per_month':0}, inplace=True)
airbnb_df['host_name'].fillna('no_name',inplace=True)
airbnb_df['name'].fillna('Unknown',inplace=True)

In [46]:
# again examining changes
airbnb_df.reviews_per_month.isnull().sum()

0

In [47]:
airbnb_df[['name']].isnull().values.any()

False

In [48]:
airbnb_df[['host_name']].isnull().values.any()

False

In [49]:
airbnb_df.head()

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365
1,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355
2,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,1,365
3,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,1,194
4,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,1,0

In [50]:
airbnb_df.tail()

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
48890,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,0.0,2,9
48891,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,0.0,2,36
48892,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,0.0,1,27
48893,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,0.0,6,2
48894,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,0.0,1,23

In [51]:
len(airbnb_df[airbnb_df['availability_365']==0])  #checking round the year busy properties

17533

In [52]:
len(airbnb_df[airbnb_df['price']==0])  #some properties have $0 listing price

11

In [53]:
len(airbnb_df[airbnb_df['price']<10]) #the fare less than 0 Price.

11

In [54]:
index_names = airbnb_df[(airbnb_df["price"]==0)].index
airbnb_df.drop(index_names, inplace = True)   # I thought of dropping rows having zero listings price

In [55]:
len(airbnb_df[airbnb_df['price']>=500]) #This shows >=$500 listing price constitutes 2.5% of data, so these values cautiously be considered as outliers.

1235

In [56]:
airbnb_df.info()  #updated data after dropping zero price rows and filling null values

<class 'pandas.core.frame.DataFrame'>
Index: 48884 entries, 0 to 48894
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            48884 non-null  object
 1   host_id                         48884 non-null  int64
 2   host_name                       48884 non-null  object
 3   neighbourhood_group             48884 non-null  object
 4   neighbourhood                   48884 non-null  object
 5   latitude                        48884 non-null  float64
 6   longitude                       48884 non-null  float64
 7   room_type                       48884 non-null  object
 8   price                           48884 non-null  int64
 9   minimum_nights                  48884 non-null  int64
 10  number_of_reviews               48884 non-null  int64
 11  reviews_per_month               48884 non-null  float64
 12  calculated_host_listings_count  48884 non-null  int64
 13  availability_365                48884 non-null  int64
dtypes: float64(3), int64(6), object(5)
memory usage: 5.6+ MB

In [57]:
airbnb_df['host_name'].value_counts()[:5] #top 5 hosts listing counts in entire dataset

host_name
Michael         417
David           403
Sonder (NYC)    327
John            294
Alex            279
Name: count, dtype: int64

In [58]:
#Maximum listings by hosts in entire dataset with unique listings within neighbourhood_group and this table gives partial answer for 5th objective.
hosts_listings = airbnb_df.groupby(['host_name','host_id','neighbourhood_group'])['calculated_host_listings_count'].max().reset_index()
hosts_listings.sort_values(by='calculated_host_listings_count', ascending=False).head(10)

,host_name,host_id,neighbourhood_group,calculated_host_listings_count
33327,Sonder (NYC),219517861,Manhattan,327
4883,Blueground,107434423,Brooklyn,232
4884,Blueground,107434423,Manhattan,232
19037,Kara,30283594,Manhattan,121
19673,Kazuya,137358866,Queens,103
19672,Kazuya,137358866,Manhattan,103
19671,Kazuya,137358866,Brooklyn,103
16604,Jeremy & Laura,16098958,Manhattan,96
33326,Sonder,12243051,Manhattan,96
7827,Corporate Housing,61391963,Manhattan,91

In [59]:
airbnb_df.loc[(airbnb_df['neighbourhood_group']=='Manhattan') & (airbnb_df['host_name']=='John')]
#Same hosts have many listings in same neighbourhood_groups with different room type or same/different room_type in other neighbp

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
429,NYC - Sunny Greenwich Village 1br,715807,John,Manhattan,Greenwich Village,40.72831,-74.00177,Entire home/apt,175,3,18,0.19,1,0
1190,Cozy Room in Lively East Village,2267153,John,Manhattan,East Village,40.72760,-73.98347,Private room,72,5,451,5.26,2,13
1535,The heart of the metropolis,3561489,John,Manhattan,East Village,40.72482,-73.98097,Entire home/apt,73,30,100,1.25,1,3
1585,Heart of Harlem 1 BR Garden apt,3726131,John,Manhattan,Harlem,40.80745,-73.94353,Entire home/apt,150,5,17,0.26,2,36
2124,Great Room in Lively East Village,2267153,John,Manhattan,East Village,40.72792,-73.98507,Private room,91,5,395,5.16,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46539,Prime Modern 2 BR East Village Apt nearby Subway,5569222,John,Manhattan,NoHo,40.72896,-73.99201,Entire home/apt,199,2,3,3.00,1,36
47078,Time square Hellâ€™s Kitchen 2bedroom,245518352,John,Manhattan,Hell's Kitchen,40.76135,-73.99343,Entire home/apt,400,3,0,0.00,1,161
47209,Modern Studio Few Steps From Times Square,260807399,John,Manhattan,Hell's Kitchen,40.76536,-73.98866,Shared room,400,2,0,0.00,1,23
47624,Gorgeous Duplex 2BED/1.5BA Modern,269242923,John,Manhattan,Kips Bay,40.74490,-73.97888,Entire home/apt,288,5,2,2.00,1,74
48705,Hidden gem! Cozy home in heart of Lower East Side,70653354,John,Manhattan,Lower East Side,40.72013,-73.98769,Entire home/apt,235,1,0,0.00,1,349

In [60]:
airbnb_df.to_csv("abinfo.csv")
# feed the csv file to MongoDB and then create a streamlit app