In [1]:
import pandas as pd
import numpy as np
import pymongo
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
#from wordcloud import STOPWORDS, WordCloud

In [5]:
client = pymongo.MongoClient("mongodb+srv://ms_mgr_007:muthu007@cluster0.dpdtdjk.mongodb.net/?retryWrites=true&w=majority")
db = client.Airbnb
col = db.ab2019

In [20]:
rel_data = []
for i in col.find():
    data = dict(Id = i['_id'],
                #Listing_url = i['listing_url'],
                Name = i.get('name'),
                #Description = i['description'],
                House_rules = i.get('house_rules'),
                #Property_type = i['property_type'],
                Room_type = i['room_type'],
                #Bed_type = i['bed_type'],
                Min_nights = int(i['minimum_nights']),
                #Max_nights = int(i['maximum_nights']),
                #Cancellation_policy = i['cancellation_policy'],
                #Accomodates = i['accommodates'],
                Total_bedrooms = i.get('bedrooms'),
                Total_beds = i.get('beds'),
                #Availability_365 = i['availability']['availability_365'],
                Price = i['price'],
                Security_deposit = i.get('security_deposit'),
                Cleaning_fee = i.get('cleaning_fee'),
               # Extra_people = i['extra_people'],
                #Guests_included= i['guests_included'],
                No_of_reviews = i['number_of_reviews'],
                #Review_scores = i['review_scores'].get('review_scores_rating'),
                #Amenities = ', '.join(i['amenities']),
                # Host_id = i['host']['host_id'],
                # Host_name = i['host']['host_name'],
                # Street = i['address']['street'],
                # Country = i['address']['country'],
                # Country_code = i['address']['country_code'],
                # Location_type = i['address']['location']['type'],
                # Longitude = i['address']['location']['coordinates'][0],Latitude = i['address']['location']['coordinates'][1],
                # Is_location_exact = i['address']['location']['is_location_exact']
    )
    rel_data.append(data)

In [23]:
info=pd.DataFrame(rel_data)
info

,Id,Name,House_rules,Room_type,Min_nights,Total_bedrooms,Total_beds,Price,Security_deposit,Cleaning_fee,No_of_reviews
0,655b0d1cd6e03663977793d3,Clean & quiet apt home by the park,None,Private room,1,None,None,149,None,None,9
1,655b0d1cd6e03663977793d4,Skylit Midtown Castle,None,Entire home/apt,1,None,None,225,None,None,45
2,655b0d1cd6e03663977793d5,THE VILLAGE OF HARLEM....NEW YORK !,None,Private room,3,None,None,150,None,None,0
3,655b0d1cd6e03663977793d6,Cozy Entire Floor of Brownstone,None,Entire home/apt,1,None,None,89,None,None,270
4,655b0d1cd6e03663977793d7,Entire Apt: Spacious Studio/Loft by central park,None,Entire home/apt,10,None,None,80,None,None,9
...,...,...,...,...,...,...,...,...,...,...,...
48890,655b0d4dd6e03663977852cd,Charming one bedroom - newly renovated rowhouse,None,Private room,2,None,None,70,None,None,0
48891,655b0d4dd6e03663977852ce,Affordable room in Bushwick/East Williamsburg,None,Private room,4,None,None,40,None,None,0
48892,655b0d4dd6e03663977852cf,Sunny Studio at Historical Neighborhood,None,Entire home/apt,10,None,None,115,None,None,0
48893,655b0d4dd6e03663977852d0,43rd St. Time Square-cozy single bed,None,Shared room,1,None,None,55,None,None,0
48894,655b0d4dd6e03663977852d1,Trendy duplex in the very heart of Hell's Kitchen,None,Private room,7,None,None,90,None,None,0